In [ ]:
!pip install pysolar pandas openpyxl

Collecting pysolar
  Downloading pysolar-0.11-py3-none-any.whl.metadata (331 bytes)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.1.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from pysolar) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pysolar-0.11-py3-none-any.whl (47 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 47.1/47.1 kB 1.3 MB/s eta 0:00:00
Installing collected packages: pysolar
Successfully installed pysolar-0.11

In [ ]:
from pysolar.solar import get_altitude, get_azimuth
from datetime import datetime, timedelta
import pandas as pd
import pytz  # Import pytz to handle timezone

In [ ]:
# Set your location coordinates
latitude = -7.32476  # Koordinat stasiun
longitude = 106.41298

# Define timezone (GMT+7, Jakarta)
local_tz = pytz.timezone('Asia/Jakarta')

# Define start and end dates for one year with local timezone
start_date = local_tz.localize(datetime(2023, 1, 1, 7, 0))  # Start of the year in GMT+7
end_date = local_tz.localize(datetime(2024, 1, 1, 6, 0))  # End of the year in GMT+7

# Initialize an empty list to store results
data = []

# Loop through each hour of the year
current_time = start_date
while current_time <= end_date:
    # Calculate solar altitude (elevation angle)
    solar_altitude = get_altitude(latitude, longitude, current_time)

    # Calculate zenith angle
    zenith_angle = 90 - solar_altitude

    # Calculate solar azimuth angle
    solar_azimuth = get_azimuth(latitude, longitude, current_time)

    # Append the results to the list
    data.append([current_time, solar_altitude, solar_azimuth, zenith_angle])

    # Increment time by one hour
    current_time += timedelta(hours=1)

# Convert list to DataFrame for easy analysis
df = pd.DataFrame(data, columns=['WIB', 'Sun_Altitude', 'Sun_Azimuth', 'Sun_Zenith_Angle'])

# Convert timezone-aware datetime to timezone-naive datetime
df['WIB'] = df['WIB'].dt.tz_localize(None)

# Save DataFrame to Excel
df.to_excel('SZA_UJGT_2023.xlsx', index=False)

In [ ]:
df.head(22)

                   WIB  Sun_Altitude  Sun_Azimuth  Sun_Zenith_Angle
0  2023-01-01 07:00:00     17.252807   111.917239         72.747193
1  2023-01-01 08:00:00     31.010233   112.520040         58.989767
2  2023-01-01 09:00:00     44.620274   115.294976         45.379726
3  2023-01-01 10:00:00     57.703269   122.324187         32.296731
4  2023-01-01 11:00:00     69.078493   140.170450         20.921507
5  2023-01-01 12:00:00     74.295972   182.045649         15.704028
6  2023-01-01 13:00:00     68.301634   222.000699         21.698366
7  2023-01-01 14:00:00     56.695776   238.523275         33.304224
8  2023-01-01 15:00:00     43.544583   245.069144         46.455417
9  2023-01-01 16:00:00     29.910734   247.625177         60.089266
10 2023-01-01 17:00:00     16.148547   248.097406         73.851453
11 2023-01-01 18:00:00      2.588441   247.102534         87.411559
12 2023-01-01 19:00:00    -11.259030   244.706637        101.259030
13 2023-01-01 20:00:00    -24.486114   240.570915        114.486114
14 2023-01-01 21:00:00    -37.019803   233.830174        127.019803
15 2023-01-01 22:00:00    -48.186848   222.750456        138.186848
16 2023-01-01 23:00:00    -56.554864   204.636747        146.554864
17 2023-01-02 00:00:00    -59.688641   179.009976        149.688641
18 2023-01-02 01:00:00    -56.098586   153.759681        146.098586
19 2023-01-02 02:00:00    -47.458459   136.230340        137.458459
20 2023-01-02 03:00:00    -36.157428   125.540403        126.157428
21 2023-01-02 04:00:00    -23.556080   119.027523        113.556080